<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->

    <title>FREE TRANSPARENT TEMPLATE </title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- VEGAS SLIDESHOW STYLE CSS -->
    <link href="assets/plugins/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/css/style_login.css" rel="stylesheet" />
    <!-- 高的css -->
    <link href="assets/css/gystyle.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-target="#menu">
<div class="navbar navbar-inverse navbar-fixed-top scrollclass" id="menu" style="height: 65px" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/img/logo180-50.png" alt="" style="max-height:40px" /></a>
        </div>

    </div>
</div>
<!--NAVBAR SECTION END-->
<div id="home" >
    <div class="container">
        <div class="auth-box ">
            <div class="left">
                <div class="content" style="margin-top:25px;">
                    <div class="header" style="margin-bottom: 30px">
                        <p class="lead" style="color:#111111"><b>登 &nbsp; &nbsp;&nbsp;&nbsp;  录</b></p>
                    </div>
                    <form class="form-auth-small" action="#" id="login_form">
                        <div class="form-group" style="margin-bottom: 30px">
                            <label for="signin-name" class="control-label sr-only" >用户名</label>
                            <input type="name" name="username" class="form-control" id="signin-name"  required="required" placeholder="用户名">
                        </div>
                        <div class="form-group" style="margin-bottom: 30px">
                            <label for="signin-password" class="control-label sr-only">密码</label>
                            <input type="password" name="password" class="form-control" id="signin-password"  required="required" placeholder="密码">
                            <p id="login_error_p" style="height:10px;color: #ff2121; line-height: 10px;margin-top:15px;display: none"></p>
                        </div>
                        <div class="form-group" style="color:#111111;margin-bottom:25px" >
                            <label class="checkbox-inline">
                                <input type="radio" name="role" id="optionsRadios3"
                                       value="student" checked> 学生
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="role" id="optionsRadios4"
                                       value="teacher"> 教师
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="role" id="optionsRadios4"
                                       value="admin"> 管理员
                            </label>
                        </div>
                        <button onclick="form_submit()" class="btn btn-primary btn-lg btn-block">登 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 录</button>
                        <div class="bottom" style="margin-top: 10px">
                            <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">忘记密码?</a></span>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

</div>
<!--CONTACT SECTION END-->
<div class="footer">
    Copyright &copy; <a href="#">还有这种操作</a>
</div>

<script>
    //提交表单
    function form_submit() {
        var role="";
        var obj=$("input[name='role']").each(
            function () {
                if($(this).attr("checked"))
                    role=$(this).val();
            }
        )

        var data={
            name:$("#signin-name").val(),
            password:$("#signin-password").val(),
            role:role
        }
        console.log(data);
        $.post("index.php",data,function (data) {
            if(data=="success"){
                $("#login_form").submit();
                $("#login_error_p").attr("display","block");
            }
            else {
                $("#login_error_p").text("错误的用户名或密码");
                $("#login_error_p").attr("display","block");
            }
        })
    }
</script>

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/plugins/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/plugins/bootstrap.js"></script>
<!-- EASING SCROLL SCRIPTS PLUGIN  -->
<script src="assets/plugins/vegas/jquery.vegas.min.js"></script>
<!-- VEGAS SLIDESHOW SCRIPTS  -->
<script src="assets/plugins/jquery.easing.min.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="assets/js/custom.js"></script>
</body>

</html>
